:root{
    --Dark_Blue: #0084FF;
    --Light_Blue: #B8DDFF;
    --Dark_Green: #54C788;
    --Light_Green: #CAF0DB;
    --Dark_Red: #FF8A8A;
    --Light_Red: #FFD2D2;
    --Dark_Yellow: #FFC166;
    --Light_Yellow: #FFE7C4;
    --Dark_Purple: #9693E6;
    --Light_Purple: #D5D4F5;
    --Dark_Grey: #333333;
}
/* font-family: 'PT Sans', sans-serif; */


header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--Dark_Blue);

    margin-bottom: 30px;
}

#header_logo {
    padding: 5px;
}

#header_menu {
    background-color: transparent;
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;
    justify-self: end;
}

body {
    display: grid;
    font-family: 'PT Sans', sans-serif;
}

main {
    display: grid;
}

main>section{
    margin-bottom: 50px;
}

/* first section of page with the colorful boxes */
#perks_section {
    display: grid;
    gap: 20px;

    /* tablets */
    @media only screen and (min-width: 768px){
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;

        >.get_demo{grid-column: span 2;}
        >.perks:nth-child(2) {display: inline;}
    }
}

/* first section box with the app store button */
.get_demo {
    display: grid;
    border-radius: 25px;
    padding: 3%;
    padding-left: 5%;
    padding-bottom: 0px;
    background-color: var(--Light_Blue);

    /* desktop */
    @media only screen and (min-width:992px){
        grid-template-columns: auto auto;
        >.get_demo_image{
            height: 300px;
        }
    }
}

.get_demo_title {
    color: var(--Dark_Blue);
}

.get_demo_description {
    color: rgb(78, 109, 180);
    text-align: start;
}

.get_demo_button_container{
    width: max-content;
    :hover{
        cursor: pointer;
    }
}

.get_demo_button {
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50ch;

    display: grid;
    grid-auto-flow: column;
    align-items: center;

    width: fit-content;
    padding: 1vh 3vw;
    margin-left: 0.4vw;
    margin-bottom: 2%;
    background-color: var(--Dark_Blue);


}

.get_demo_button>img{
    padding-right: 5px;
    padding-bottom: 1px;
    height: 1em;
}

/* colorful boxes in section 1 */
.perks {
    display: grid;
    justify-items: center;
    text-align: center;
    border-radius: 25px;
    padding: 5%;
}

.perks_image{
    height: 60px;
}

.perks_description{
    filter: brightness(0.8);
    margin: 5px 0;
}

.perks_title{
    margin: 10px 0;
}

.perks:nth-child(2) {
    background-color: var(--Light_Green);
    >.perks_title{
        color: var(--Dark_Green);
    }

    >.perks_description{
        color: var(--Dark_Green);
 
    }
}

.perks:nth-child(3){
    background-color: var(--Light_Red);
    >.perks_title{
        color: var(--Dark_Red);
    }

    >.perks_description{
        color: var(--Dark_Red);
 
    }
}

.perks:nth-child(4){
    background-color: var(--Light_Yellow);
    >.perks_title{
        color: var(--Dark_Yellow);
    }

    >.perks_description{
        color: var(--Dark_Yellow);
 
    }
}

.perks:nth-child(5){
    background-color: var(--Light_Purple);
    >.perks_title{
        color: var(--Dark_Purple);
    }

    >.perks_description{
        color: var(--Dark_Purple);
 
    }
}

/* second section with "strategic planning" */
#strategic_planning_section{
    background-color: var(--Dark_Purple);
    display: grid;
    padding: auto;
    padding: 8%;

    /* desktop */
    @media only screen and (min-width:992px){
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        align-items: end;
        >.strategic_planning{width: 400px; justify-self: end; padding-bottom: 20px;
            >.strategic_planning_title{font-size: 36px; margin-top: 110px;}}
        >.app_development{width: 400px;}
    }
}

/* strategic planning section */
.strategic_planning{
    display: grid;
    color: white;
    margin-bottom: 20px;

    max-width: 100%;
}

.strategic_planning_title{
    @media only screen and (min-width: 768px){
        font-size: 76px;
        margin: 15px 0;
    }
}

.strategic_planning_description{
    @media only screen and (min-width: 768px){
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.strategic_planning_image{
    margin: 5%;
    max-width: 100%;
    height: auto;
    /* object-fit: scale-down; */

    @media only screen and (min-width: 768px){
        width: 600px;
    }
}

/* app development section with white box */
.app_development{
    background-color: white;
    border-radius: 50px;
    display: grid;
    text-align: center;
    justify-items: center;


    padding: 5%;
}

.app_development_title{
    color: var(--Dark_Grey);

    margin-bottom: 5px;

}

.app_development_description{
    font-style: italic;
    font-size: 20px;
    color: var(--Dark_Grey);

    margin-bottom: 20px;
}

.app_development_image{

    max-width: 100%;
    height: auto;
    /* object-fit: scale-down; */

    @media only screen and (min-width: 768px){
        width: 500px;
    }
}

.app_development_link {
    background-color: var(--Light_Purple);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 1%;

    display: flex;
    justify-content: center;
    align-items: center;

    justify-self: center;
}

/* third section for testimonials */
#testimonials_section {
    display: grid;

    gap: 30px;

    /* desktop */
    @media only screen and (min-width:992px){
        padding: 0 20vw;
    }
}

/* first block as header */
.testimonials_header {
    text-align: center;
    padding: 10px 50px;
    
}

.testimonials_title{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
    color: var(--Dark_Grey)
}

.testimonials_message {
    color: var(--Dark_Purple);
    font-size: 40px
}

.testimonials_description {
    font-size: 20px;
}

/* the three blocks of quotes */
.testimonials_container {
    display: grid;
    justify-items: center;

    padding: 40px;

    /* tablet */
    @media only screen and (min-width:768px){
        grid-auto-flow: column;
        justify-items: start;
        column-gap: 30px;
        >.testimonials_image{grid-row: span 2;}
    }
    
}

.testimonials_container:nth-child(2) {
    background-color: var(--Light_Red);
    border-radius: 25px;
}

.testimonials_container:nth-child(3) {
    background-color: var(--Light_Yellow);
    border-radius: 25px;
}

.testimonials_container:nth-child(4) {
    background-color: var(--Light_Green);
    border-radius: 25px;
}

.testimonials_image{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 150px;
}

.testimonials_quote {
    color: var(--Dark_Grey);
    font-size: 20px;
    font-weight: normal;
}

.testimonials_name {
    text-transform: uppercase;
    margin-top: 0;
    color: var(--Dark_Grey);
    font-weight: bold;
    font-size: 24px;
}

/* 4th section Benefits of working with us purple background */
#benefits_section {
    display: grid;
    justify-items: center;
    gap: 20px;
    background-color: var(--Dark_Purple);

    padding-bottom: 50px;

    >h1{
        color: white;
        font-size: 35px;
    }

    
    /* tablet */
    @media only screen and (min-width:768px){
        >h1{grid-column: span 2; font-size: 50px;}
        grid-template-columns: 1fr 1fr;
    }

    /* desktop */
    @media only screen and (min-width:768px){
        >h1{grid-column: span 3; font-size: 50px;}
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* is this a good format or not? */
.benefits_container{
    background-color: var(--Light_Purple);
    color: var(--Dark_Purple);
    padding: 16px;
    border-radius: 20px;

    >.benefits_number{
        font-size: 50px;
        margin: 5px;
    }

    >.benefits_description{
        font-size: 18px;
        filter: grayscale(0.8);
        margin: 5px;
        margin-bottom: 35px;
    }

    >.benefits_button{
            
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 50ch;

        display: grid;
        grid-auto-flow: column;
        align-items: center;

        width: fit-content;
        font-size: 15px;
        padding: 3% 8%;
        margin-left: 2%;
        margin-bottom: 2%;
        background-color: var(--Dark_Purple);

        &:hover{
            cursor: pointer;
        }
    }
}

/* the 5th section about us and boss quote and linkdin */
#boss_section {
    display: grid;

    
    /* tablet */
    @media only screen and (min-width:768px){
        grid-template-columns: 2fr 1fr;

        >.boss_container{display: inline;}
    }
}

.about_container{
    display: grid;
    padding: 3%;
    margin-bottom: 30px;
}

.about_title{
    color: var(--Dark_Purple);
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 2%;
}

.about_description{
    color: var(--Dark_Grey);
    font-size: 21px;
    font-weight: lighter;
    max-width: 90%;
}

/* 2nd part */
.boss_container{
    display: grid;
    padding: 3%;
}

.boss_image_container{
    position: relative;
}

.boss_image {
    border-radius: 100px;
}

.boss_quote_symbol{
    position: absolute;
    padding: 0;
    margin: 0;
    top: -40px;
    left: 140px;
    font-size: 200px;
    font-family: fantasy;
    font-weight: lighter;
    color: var(--Dark_Purple);
}

.boss_description{
    color: var(--Dark_Purple);
    font-size: 30px;
    font-weight: bold;
    margin: 5px 10px;
}

.boss_button{
    border: none;
    border-radius: 6px;
    padding: 15px 18px;
    width: fit-content;
    background-color: var(--Dark_Purple);
    color: white;
    font-weight: bold;
    font-size: 17px;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;

    >img{
        padding-right: 7px;
    }

}

.boss_link{
    width: max-content + 2px;
    text-decoration: none;

    :hover{
        cursor: pointer;
    }
}

footer{
    display: grid;
}

/* footer */
#footer_main{
    background-color: var(--Dark_Purple);
    display: grid;
    text-align: center;
    padding: 40px;
    margin-bottom: 0;

    >h1{
        margin: 5px;
    }

}

.footer_get_started{
    color: var(--Light_Purple);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
}

.footer_pricing{
    color: white;
    font-size: 38px;
    font-weight: normal;
}

.footer_its_free{
    color: var(--Dark_Yellow);
    text-transform: uppercase;
    font-size: 68px;
    font-weight: bold;
}

.footer_description{
    color: white;
    font-size: 21px;
    font-weight: normal;
    margin: 20px 15%;

    /* desktop */
    @media only screen and (min-width:992px){
        width: 600px;
        justify-self: center;
    }
}

.footer_copyright{
    color: white;
    text-decoration: none;
    >a{
        color: white;
    }
}

.footer_link{
    width: max-content;
    justify-self: center;
    :hover{
        cursor: pointer;
    }
}

.footer_button{
    background-color: white;
    color: var(--Dark_Purple);
    border: none;
    border-radius: 100px;
    padding: 15px 80px;
    font-size: 20px;
    font-weight: bold;

    font-family: 'PT Sans', sans-serif; 
}

#footer_end{
    background-color: var(--Dark_Grey);
    margin-top: 0;
    padding: 30px;

    >p{
        color: white;
        text-align: center;
    }
}