:root{
    --Dark_Blue: #0084FF;
    --Light_Blue: #B8DDFF;
    --Dark_Green: #54C788;
    --Light_Green: #CAF0DB;
    --Dark_Red: #FF8A8A;
    --Light_Red: #FFD2D2;
    --Dark_Yellow: #FFC166;
    --Light_Yellow: #FFE7C4;
    --Dark_Purple: #9693E6;
    --Light_Purple: #D5D4F5;
    --Dark_Grey: #333333;
}
/* font-family: 'PT Sans', sans-serif; */


header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--Dark_Blue);

    margin-bottom: 30px;
}

#header_logo {
    padding: 5px;
}

#header_menu {
    background-color: transparent;
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;
    justify-self: end;
}

body {
    display: grid;
    font-family: 'PT Sans', sans-serif;
}

main {
    display: grid;
}

main>section{
    margin-bottom: 50px;
}

/* first section of page with the colorful boxes */
main>section:nth-child(1) {
    display: grid;
    gap: 20px;

    /* font-weight: bold; */
}

/* first section box with the app store button */
.get_demo {
    display: grid;
    border-radius: 25px;
    padding: 3%;
    padding-left: 5%;
    padding-bottom: 0px;
    background-color: var(--Light_Blue);
}

.get_demo_title {
    color: var(--Dark_Blue);
}

.get_demo_description {
    color: rgb(78, 109, 180);
    text-align: start;
}

.get_demo_button {
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50ch;

    display: grid;
    grid-auto-flow: column;
    align-items: center;

    width: fit-content;
    padding: 3% 8%;
    margin-left: 4%;
    margin-bottom: 2%;
    background-color: var(--Dark_Blue);
}

.get_demo_button>img{
    padding-right: 5px;
    padding-bottom: 1px;
    height: 1em;
}

/* colorful boxes in section 1 */
.perks {
    display: grid;
    justify-items: center;
    text-align: center;
    border-radius: 25px;
    padding: 5%;
}

.perks_image{
    height: 60px;
}

.perks_description{
    filter: brightness(0.8);
    margin: 5px 0;
}

.perks_title{
    margin: 10px 0;
}

.perks:nth-child(2) {
    background-color: var(--Light_Green);
    >.perks_title{
        color: var(--Dark_Green);
    }

    >.perks_description{
        color: var(--Dark_Green);
 
    }
}

.perks:nth-child(3){
    background-color: var(--Light_Red);
    >.perks_title{
        color: var(--Dark_Red);
    }

    >.perks_description{
        color: var(--Dark_Red);
 
    }
}

.perks:nth-child(4){
    background-color: var(--Light_Yellow);
    >.perks_title{
        color: var(--Dark_Yellow);
    }

    >.perks_description{
        color: var(--Dark_Yellow);
 
    }
}

.perks:nth-child(5){
    background-color: var(--Light_Purple);
    >.perks_title{
        color: var(--Dark_Purple);
    }

    >.perks_description{
        color: var(--Dark_Purple);
 
    }
}

/* second section with "strategic planning" */
main>section:nth-child(2){
    background-color: var(--Dark_Purple);
    display: grid;
    padding: auto;
    padding: 8%;
}

/* strategic planning section */
.strategic_planning{
    display: grid;
    color: white;
    margin-bottom: 20px;
}

.strategic_planning_title{
    @media only screen and (min-width: 768px){
        font-size: 76px;
        margin: 15px 0;
    }
}

.strategic_planning_description{
    @media only screen and (min-width: 768px){
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.strategic_planning_image{
    margin: 5%;

    @media only screen and (min-width: 768px){
        width: 600px;
    }
}

/* app development section with white box */
.app_development{
    background-color: white;
    border-radius: 50px;
    display: grid;
    text-align: center;
    justify-items: center;

    padding: 5%;
}

.app_development_title{
    color: var(--Dark_Grey);

    margin-bottom: 5px;

}

.app_development_description{
    font-style: italic;
    color: var(--Dark_Grey);

    margin-bottom: 20px;
}

.app_development_image{
    @media only screen and (min-width: 768px){
        width: 500px;
    }
}

.app_development_link {
    background-color: var(--Light_Purple);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 1%;

    display: flex;
    justify-content: center;
    align-items: center;

    justify-self: center;
}